In [1]:
from DataFetcher import DataFetcher
from USTs import USTs
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from datetime import datetime

In [2]:
auctions = DataFetcher().fetch_auction_data()
prices = DataFetcher().fetch_historical_UST_data(date=datetime(year=2025, month=6, day=22))

In [3]:
prices

,Cusip,Security type,Rate,Maturity date,Buy,Sell,End of day
0,912797PT8,Bill,0.000,2025-06-24,0.000000,99.952889,0.0
1,912797NW3,Bill,0.000,2025-06-26,99.931500,99.931333,0.0
2,912797PU5,Bill,0.000,2025-07-01,99.873958,99.873194,0.0
3,912797NX1,Bill,0.000,2025-07-03,99.850681,99.850139,0.0
4,912797PZ4,Bill,0.000,2025-07-08,99.794250,99.793500,0.0
...,...,...,...,...,...,...,...
453,91282CKM2,FRN,4.497,2026-04-30,100.064438,100.045432,0.0
454,91282CLA7,FRN,4.529,2026-07-31,100.091468,100.072424,0.0
455,91282CLT6,FRN,4.553,2026-10-31,100.129633,100.113018,0.0
456,91282CMJ7,FRN,4.444,2027-01-31,99.978174,99.954685,0.0
457,91282CMX6,FRN,4.507,2027-04-30,100.057408,100.046194,0.0

In [4]:
ust_set = USTs(auction_data=auctions, price_data=prices)
ust_set.get_current_UST_set(include_FRNs=False, include_TIPS=False)

Merged auction and price data successfully
No missing or excess data
All CUSIPs are identical between DataFrames

,Cusip,Security type,Rate,Maturity date,Buy,Sell,End of day,security_term,issue_date
0,912797PT8,Bill,0.000,2025-06-24,0.000000,99.952889,0.0,17-Week,2025-02-25
1,912797NW3,Bill,0.000,2025-06-26,99.931500,99.931333,0.0,26-Week,2024-12-26
2,912797PU5,Bill,0.000,2025-07-01,99.873958,99.873194,0.0,17-Week,2025-03-04
3,912797NX1,Bill,0.000,2025-07-03,99.850681,99.850139,0.0,26-Week,2025-01-02
4,912797PZ4,Bill,0.000,2025-07-08,99.794250,99.793500,0.0,17-Week,2025-03-11
...,...,...,...,...,...,...,...,...,...
392,912810UA4,Bond,4.625,2054-05-15,95.281250,95.250000,0.0,30-Year,2024-05-15
393,912810UC0,Bond,4.250,2054-08-15,89.562500,89.531250,0.0,30-Year,2024-08-15
394,912810UE6,Bond,4.500,2054-11-15,93.484375,93.468750,0.0,30-Year,2024-11-15
395,912810UG1,Bond,4.625,2055-02-15,95.546875,95.531250,0.0,30-Year,2025-02-18
396,912810UK2,Bond,4.750,2055-05-15,97.578125,97.562500,0.0,30-Year,2025-05-15