In [10]:
from DataFetcher import DataFetcher
from USTs import USTs
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import datetime
import pandas_datareader.data as web

In [15]:
start = datetime.datetime(2025, 6, 23)
end = datetime.datetime(2025, 6, 24)
cmt_yields = web.DataReader(['DTB3', 'DTB6','DGS1','DGS2','DGS3','DGS5','DGS7','DGS10','DGS20','DGS30'], 'fred', start, end)

In [16]:
cmt_yields

            DTB3  DTB6  DGS1  DGS2  DGS3  DGS5  DGS7  DGS10  DGS20  DGS30
DATE
2025-06-23  4.19  4.12  4.00  3.84  3.80  3.91  4.10   4.34   4.87   4.87
2025-06-24  4.19  4.11  3.99  3.75  3.75  3.86  4.06   4.30   4.83   4.83

In [17]:
auctions = DataFetcher().fetch_auction_data()
prices = DataFetcher().fetch_historical_UST_data(date=datetime.datetime(year=2025, month=6, day=24))

In [18]:
ust_set = USTs(auction_data=auctions, price_data=prices)
ust_set = ust_set.get_current_UST_set(as_of_date=datetime.date(2025, 6, 25),
                                      get_ytms=True, include_FRNs=False, include_TIPS=False)

Merged auction and price data successfully
No missing or excess data
All CUSIPs are identical between DataFrames

In [27]:
ust_set

,Cusip,Security type,Rate,Maturity date,Buy,Sell,End of day,security_term,issue_date,EOD YTM
0,912797NW3,Bill,0.000,2025-06-26,0.000000,99.977222,99.988806,26-Week,2024-12-26,0.022000
1,912797PU5,Bill,0.000,2025-07-01,99.920861,99.920472,99.932333,17-Week,2025-03-04,0.208000
2,912797NX1,Bill,0.000,2025-07-03,99.898250,99.898000,99.909778,26-Week,2025-01-02,0.181000
3,912797PZ4,Bill,0.000,2025-07-08,99.841333,99.840944,99.853389,17-Week,2025-03-11,0.450000
4,912797LW5,Bill,0.000,2025-07-10,99.818222,99.817778,99.830000,52-Week,2024-07-11,0.171000
...,...,...,...,...,...,...,...,...,...,...
392,912810UA4,Bond,4.625,2054-05-15,96.265625,96.250000,96.406250,30-Year,2024-05-15,4.859310
393,912810UC0,Bond,4.250,2054-08-15,90.500000,90.468750,90.625000,30-Year,2024-08-15,4.852302
394,912810UE6,Bond,4.500,2054-11-15,94.468750,94.437500,94.593750,30-Year,2024-11-15,4.847988
395,912810UG1,Bond,4.625,2055-02-15,96.515625,96.500000,96.625000,30-Year,2025-02-18,4.839012
396,912810UK2,Bond,4.750,2055-05-15,98.578125,98.562500,98.718750,30-Year,2025-05-15,4.832617