In [2]:
from DataFetcher import DataFetcher
from USTs import USTs
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from datetime import datetime

In [3]:
auctions = DataFetcher().fetch_auction_data()
prices = DataFetcher().fetch_historical_UST_data(date=datetime(year=2025, month=6, day=17))

In [4]:
auctions

,cusip,auction_date,issue_date,security_term,maturity_date,avg_med_yield,currently_outstanding,original_security_term
0,91282CNJ6,2025-06-26,2025-06-30,7-Year,2032-06-30,null,null,7-Year
1,91282CMX6,2025-06-25,2025-06-27,1-Year 10-Month,2027-04-30,null,60044000000.000000,2-Year
2,91282CNK3,2025-06-25,2025-06-30,5-Year,2030-06-30,null,null,5-Year
3,91282CNL1,2025-06-24,2025-06-30,2-Year,2027-06-30,null,null,2-Year
4,912797MG9,2025-06-24,2025-06-26,6-Week,2025-08-07,null,207829000000.000000,52-Week
...,...,...,...,...,...,...,...,...
75,9127935W2,1980-01-02,1980-01-08,52-Week,1981-01-02,null,null,52-Week
76,9127933Y0,1979-12-28,1980-01-03,13-Week,1980-04-03,null,null,null
77,9127934U7,1979-12-28,1980-01-03,26-Week,1980-07-03,null,null,26-Week
78,912810CK2,1979-11-01,1979-11-15,30-Year,2009-11-15,10.440000,null,30-Year
79,912827KC5,1979-10-31,1979-11-15,10-Year,1989-11-15,10.750000,null,10-Year

In [5]:
ust_set = USTs(auction_data=auctions, price_data=prices).get_current_UST_set()

Merged auction and price data successfully
No missing or excess data
All CUSIPs are identical between DataFrames

In [6]:
from datetime import timedelta
ust_set['days'] = ust_set['Maturity date'] - ust_set['issue_date']

In [10]:
ust_set[ust_set['security_term'] == '10-Year'].head(30)

,Cusip,Security type,Rate,Maturity date,Buy,Sell,End of day,security_term,issue_date,days
57,912828K74,Note,2.000,2025-08-15,0.000000,99.59375,99.59375,10-Year,2015-08-17,3651 days
70,912828M56,Note,2.250,2025-11-15,0.000000,99.12500,99.12500,10-Year,2015-11-16,3652 days
83,912828P46,Note,1.625,2026-02-15,98.328125,98.28125,98.28125,10-Year,2016-02-16,3652 days
96,912828R36,Note,1.625,2026-05-15,97.750000,97.71875,97.71875,10-Year,2016-05-16,3651 days
109,9128282A7,Note,1.500,2026-08-15,97.078125,97.06250,97.06250,10-Year,2016-08-15,3652 days
122,912828U24,Note,2.000,2026-11-15,97.203125,97.18750,97.18750,10-Year,2016-11-15,3652 days
134,912828V98,Note,2.250,2027-02-15,97.203125,97.18750,97.18750,10-Year,2017-02-15,3652 days
147,912828X88,Note,2.375,2027-05-15,97.093750,97.06250,97.09375,10-Year,2017-05-15,3652 days
158,9128282R0,Note,2.250,2027-08-15,96.515625,96.50000,96.50000,10-Year,2017-08-15,3652 days
168,9128283F5,Note,2.250,2027-11-15,96.171875,96.15625,96.18750,10-Year,2017-11-15,3652 days
178,9128283W8,Note,2.750,2028-02-15,97.031250,97.00000,97.06250,10-Year,2018-02-15,3652 days
188,9128284N7,Note,2.875,2028-05-15,97.125000,97.09375,97.15625,10-Year,2018-05-15,3653 days
197,9128284V9,Note,2.875,2028-08-15,96.859375,96.84375,96.90625,10-Year,2018-08-15,3653 days
204,9128285M8,Note,3.125,2028-11-15,97.390625,97.37500,97.43750,10-Year,2018-11-15,3653 days
211,9128286B1,Note,2.625,2029-02-15,95.500000,95.46875,95.56250,10-Year,2019-02-15,3653 days
218,9128286T2,Note,2.375,2029-05-15,94.281250,94.25000,94.37500,10-Year,2019-05-15,3653 days
225,912828YB0,Note,1.625,2029-08-15,91.218750,91.18750,91.28125,10-Year,2019-08-15,3653 days
232,912828YS3,Note,1.750,2029-11-15,91.156250,91.12500,91.25000,10-Year,2019-11-15,3653 days
239,912828Z94,Note,1.500,2030-02-15,89.531250,89.50000,89.62500,10-Year,2020-02-18,3650 days
245,912828ZQ6,Note,0.625,2030-05-15,85.031250,85.00000,85.09375,10-Year,2020-05-15,3652 days
250,91282CAE1,Note,0.625,2030-08-15,84.250000,84.21875,84.34375,10-Year,2020-08-17,3650 days
254,91282CAV3,Note,0.875,2030-11-15,84.671875,84.65625,84.78125,10-Year,2020-11-16,3651 days
258,91282CBL4,Note,1.125,2031-02-15,85.390625,85.34375,85.50000,10-Year,2021-02-16,3651 days
262,91282CCB5,Note,1.625,2031-05-15,87.062500,87.03125,87.18750,10-Year,2021-05-17,3650 days
266,91282CCS8,Note,1.250,2031-08-15,84.406250,84.37500,84.53125,10-Year,2021-08-16,3651 days
270,91282CDJ7,Note,1.375,2031-11-15,84.406250,84.37500,84.53125,10-Year,2021-11-15,3652 days
274,91282CDY4,Note,1.875,2032-02-15,86.656250,86.62500,86.78125,10-Year,2022-02-15,3652 days
278,91282CEP2,Note,2.875,2032-05-15,92.078125,92.06250,92.25000,10-Year,2022-05-16,3652 days
280,91282CFF3,Note,2.750,2032-08-15,90.968750,90.93750,91.12500,10-Year,2022-08-15,3653 days
281,91282CFV8,Note,4.125,2032-11-15,99.375000,99.34375,99.56250,10-Year,2022-11-15,3653 days